body {
    background-image: url('../assets/background_picture.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

main h1 {
    margin-bottom: 2%;
    color: #3c3f4a;
}

.card-title {
    font-family: 'Caveat', cursive;
    font-family: 'Fuggles', cursive;
    font-family: 'Permanent Marker', cursive;
    font-weight: 100;
}

.card-text {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}