main h1 {
    margin-bottom: 2%;
    color: #3c3f4a;
}

.card-title {
    font-family: 'Caveat', cursive;
    font-family: 'Fuggles', cursive;
    font-family: 'Permanent Marker', cursive;
    font-weight: 100;
}

.card-text {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}