body {
    background-image: url('../assets/background_picture.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

main h1, main p {
    color: #3c3f4a;
    margin-bottom: 2%;
}

main p {
    font-size: larger;
}

form {
    margin: 4%;
}

.error-message {
    color: red;
    font-size: 0.9em;
}