/* The styles will be consistent with what was provided previously */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

p {
  font-size: x-large;
  border-top: 3px solid #007bff;
  padding-top: 10px;
  margin-top: 20px;
}

h1 {
  margin: 5%;
}

.test-container {
  max-width: 50%;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  color: #333;
}

label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
  /* Reduced this margin to keep selector close to its question */
  margin-left: 25%;
  margin-right: 25%;
}

select {
  width: 50%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  /* Added margin-bottom to give separation from the next question */
  border-radius: 4px;
  border: 1px solid #ddd;
}

.submit-btn {
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

#anxiety, #depression {
  font-size: larger;
}